



.character-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: grey;
  }
  
  
  
  
.character-card img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
.character-card h3 {
    margin: 0;
    font-size: 18px;
  }
  
.character-card p {
    margin: 0;
    font-size: 14px;
    color: #555;
  }
  